# True False Palindrome
Given a string, determine whether any permutation of it is a palindrome. For example, carrace should return true, since it can be rearranged to form racecar, which is a palindrome. daily should return false, since there's no rearrangement that can form a palindrome.

### Plan

- I guess you can count the number of doubles? And if there are two single instances of characters then return false.
- Let's count the word "aa" as a palindrome even though it's not a real word.
- Let's count the word "bab" as a palindrome even though it's not a real word. 
- Likewise, even number character words can be palindromes.. so "baab" is a palindrome.
- So the only way a word is not a palindrome is if there are at least two characters that have no pair. 
- Plan is to check for instances where characters appear an "odd" number of times

In [83]:
# word accepts a string

def tfpalindrome(word): 
    odd_found = 0 
    word.lower() # makes everything lower case
    word.replace(" ", "") # removes all spaces
    character_list = list(word) # separates it now into a character list
    
    for character in character_list:     
        # refresh count each time 
        count_found = 0 
        
        for index in character_list: 
            if character == index: 
                count_found += 1 # you're always going to find one
        
        if count_found % 2 == 1: # says it's odd
            odd_found += 1
            
    if odd_found > 1: # meaning more than 2 odd counts found
        return "False", odd_found
    else: 
        return "True", odd_found

In [84]:
test_word = "carrace" # palindrome
test_word2 = "battleship" # not
test_word3 = "kayak" # palindrome

In [85]:
# very convenient way to get into character level splits
list(test_word)

['c', 'a', 'r', 'r', 'a', 'c', 'e']

In [86]:
# % 2 => 0 when it's even, 1 when it's odd.
1 % 2

1

In [87]:
tfpalindrome("battleship")

('False', 8)

In [88]:
tfpalindrome("carrace")

('True', 1)

In [89]:
tfpalindrome(test_word3)

('True', 1)

In [101]:
tfpalindrome("A Santa at Nasa") # this should work but it doesn't because there are 3 spaces

# this finds 13 different uniques...
# because it doesn't stop counting and goes through the whole list

('False', 13)

In [91]:
list("A Santa at Nasa")

['A', ' ', 'S', 'a', 'n', 't', 'a', ' ', 'a', 't', ' ', 'N', 'a', 's', 'a']

In [92]:
test_word4 = "A Santa at Nasa"

In [94]:
test_word4.lower().replace(" ","")

'asantaatnasa'

In [95]:
list(test_word4.lower().replace(" ",""))

['a', 's', 'a', 'n', 't', 'a', 'a', 't', 'n', 'a', 's', 'a']

### What if we introduced a sort in here, would that make our lives easier? 

- you sort the character list
- then you check to see if you have an even or odd
- and if you run across two instances of odds then you just pop out and say okay this is not a palindrome

In [100]:
#for index, element in enumerate(list(test_word4.lower().replace(" ",""))):
#    print(index)
#    print(element)

### brief detour into enumerate

In [1]:
list1 = ["eat","sleep","repeat"] 
string1 = "genius"

In [3]:
object1 = enumerate(list1)
object2 = enumerate(string1)

In [5]:
print(object1)

<enumerate object at 0x10e9f9558>

In [6]:
print(list(object1))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [7]:
print(list(object2))

[(0, 'g'), (1, 'e'), (2, 'n'), (3, 'i'), (4, 'u'), (5, 's')]

In [8]:
for element in enumerate(list1): 
    print(element)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [10]:
for index, element in enumerate(list1, 100): # notice you start the index at 100
    print(index, element)

100 eat
101 sleep
102 repeat